.gradle
/build/
.idea*
# Ignore Gradle GUI config
gradle-app.setting
gradle*
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
src/test/java/Homework17.java
src/test/java/CucumberRunner.java
src/test/java/CucumberRunner.java
src/test/java/Homework17.java
src/test/java/Homework21.java
src/test/java/Homework21.java
src/test/java/Homework21.java
src/test/java/Homework22.java
src/test/java/Homework25.java
src/test/java/Homework17.java
src/test/java/Homework20.java
src/test/java/Homework20.java
src/test/java/stepDefinition/Login27StepDefinitons.java
src/test/java/CucumberRunner.java
