<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="2">
    <parameter name="BaseURL" value="http://bbb.testpro.io" />
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="Homework17"/>
            <class name="Homework18"/>
            <class name="Homework19"/>
            <class name="Homework21"/>
            <class name="BaseTest"/>
        </classes>
    </test>
</suite>