<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

   <parameter name="baseURL" value="https://bbb.testpro.io/"></parameter>
    <parameter name="loginEmail" value="paramvirsingh24@gmail.com"></parameter>
    <parameter name="loginPassword" value="te$t$tudent"></parameter>


    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <class name="Homework14"/>
            <class name="Homework17"/>
            <class name="Homework19"/>
        </classes>
    </test>
</suite>